<div id="midcontainer">
<h1>About Ozride</h1>
    <div class="what_why">
        <ul>
            <li class="how">
                <div>&nbsp;</div>
                <h4>What is Ozride?</h4>
                <p>OZride is a simple way to find friends, classmates, and coworkers going the same way you are.</p>
                
            </li>
            <li class="networks">
                <div>&nbsp;</div>
                <h4>Why does it work?</h4>
                <p>We believe that main problem behind carpooling is that people are unable to find suitable people to travel with. People prefer people with common goals, interests and friends, and we at ozride want to become the medium in doing so. With the use of socail media(facebook and such) we want to become a place where not only share your ride but also find the right person to do so.</p>
                
            </li>
            <li class="rides last">
                <div>&nbsp;</div>
                <h4>Why OZride?</h4>
                <p>It's simple! OZride is a fun way to get where you need to go. Connect with friends, reduce your carbon footprint and save money.</p>
                <a class="button info" href="http://www.ozride.com/posts">View rides</a>
            </li>
        </ul>
    </div>
</div>
